################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Main/FileContentIndex
/.vs/Main/v17/.wsuo
